{% extends 'template/base.html.twig' %}


{% block body %}

    <h1> Tes API</h1>

    <table border="1">
        <tr>
            <td>Nom du perso</td>
            <td>Toujour valable?</td>
            <td>Action</td>
        </tr>


    {% for api in apis %}
        <tr>
            <td> {{ api.charName }} </td>

            <td>  {% if api.isValid %} oui {% else %} non {% endif %}  </td>

            <td> <a href="{{ path('removeapi', { 'id' : api.id } ) }}"> Supprimer </a> </td>
        </tr>


    {% else %}
        Pas d'API
    {% endfor %}

    </table>

    <a href="{{ path('addapi') }}" > Ajouter un compte </a>


{% endblock %}