<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{ member.getName()  }} <br>

{{ form_start(group_form) }}
{{ form_widget(group_form) }}
{{ form_end(group_form) }}


</body>
</html>