<!DOCTYPE html>
<html lang="en">


{{ include('template/_header.html.twig') }}

<div id="content">
    {% block body %}{% endblock %}
</div>


{{ include('template/_footer.html.twig') }}
</body>
</html>